---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/sections/Hero.astro'
import About from '@/components/sections/About.astro'
import Experience from '@/components/sections/Experience.astro'
import Education from '@/components/sections/Education.astro'
import Certifications from '@/components/sections/Certifications.astro'
import Skills from '@/components/sections/Skills.astro'
import Projects from '@/components/sections/Projects.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'

import { basics } from '@cv'
const {name, label} = basics
---

<Layout title={`Profile of ${name} - ${label}`}>
	<main>
		<div class="block">
			<Hero />
			<About />
			<Experience />
			<Projects />
			<Education />
			<Skills />
			<Certifications/>
		</block>
	</main>
	<KeyboardManager />
</Layout>

<style>

	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	.block {
		max-width: 800px;
        margin: 0 auto 23px;
		position: relative;
		background: linear-gradient(0deg,
		#000, #272727);
	}

	.block:before, .block:after {
		content: '';
		position: absolute;
		left: -2px;
		top: -2px;
		background: linear-gradient(45deg,
		#fb0094, #0000ff, #00ff00, #ffff00,
		#ff0000, #fb0094, #0000ff, #00ff00,
		#ffff00, #ff0000);
		background-size: 400%;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		z-index: -1;
		animation: steam 20s linear infinite;
	}

	@keyframes steam {
		0% {
			background-position: 0 0;
		}
		50% {
			background-position: 400% 0;
		}
		100% {
			background-position: 0 0;
		}
	}

	.block:after {
		filter: blur(50px)
	}
	
</style>
